@media (min-width:320px) and (max-width:453px)  { /* smartphones, iPhone, portrait 480x320 phones */
  #xxs { display: none }
  #xs { display: block }
  #s { display: none }
  #m { display: none }
  #l { display: none }
  #xl { display: none }
  #xxl { display: none }

  .mobile-landing {
    height: 100vh;
  }

  #logo {
    position: absolute;
    height: 10vh;
    width: 10vw;
    display: none;
  }

  .header-hamburger {
    /*display: none;*/
    padding-top: 3vh;
    padding-left: 83vw;
    position: fixed;
  }

  .header-hamburger-line {
    height: 2vw;
    width: 13vw;
    background-color: #40e0d0;
    border-radius: 5px;
    margin-bottom: 1vh;
  }

  .navbar {
    /*border: 1px solid red;*/
    height: 10vh;
    width: 100vw;
    display: none;
  }

  .home {
    text-align: center;
  }

  .home h1 {
    font-size: 10vh;
    color: #40e0d0;
  }

  .home h4 {
    font-size: 2vh;
    margin-top: 2vh;
    text-align: center;
  }

  .about {
    position: relative;
    overflow: auto;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 3vh;
    height: 100vh;
    text-align: center;
  }

  .expertise {
    position: relative;
    overflow: auto;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 3vh;
    height: 100vh;
    text-align: center;
  }

  .blog {
    position: relative;
    overflow: auto;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 3vh;
    height: 100vh;
    text-align: center;
  }

  .work {
    position: relative;
    overflow: auto;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 3vh;
    height: 100vh;
    text-align: center;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 40vw;
    width: 65vw;
    margin-bottom: 3vh;
    text-align: center;
  }

  .card img {
    height: 40vw;
    width: 65vw;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card .container {
    padding: 2px 16px;
  }

  .sidenav {
    /*border: 1px solid black;*/
    width: 40vw;
    padding-top: 30vh;
    padding-left: 30vw;
    padding-right: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    display: none;
  }

  .sidenav a {
    color: black;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 7vw;
    display: block;
    transition: 0.3s;
    letter-spacing: 3px;
    font-family: 'Cormorant Garamond', serif;
  }

  .sidenav a:hover {
    color: #40e0d0;
    cursor: pointer;
    cursor: hand;
  }

  .contact-button {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .contact-button button {
    font-size: 5vh;
    font-size: 8vw;
    background: white;
    border: 2px solid #40e0d0;
    transition: 0.3s;
    height: 7vh;
    min-height: 30px;
    width: 40vw;
    text-align: center;
    color: #40e0d0;
  }

  .contact-button button:hover {
    border-color: #40e0d0;
    color: white;
    background: #40e0d0;
    cursor: pointer;
    cursor: hand;
  }

  .contact-button button:focus {
    outline: 0;
  }

  /* ========== footer ========== */

  .footer {
    position: relative;
    bottom: 8;
    background-color: #40E0D0;
    height: 92vh;
  }

  .row-1 {
    display: none;
    /*border: 1px solid blue;*/
    width: 30vw;
    float: left;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .row-1 ul li {
    list-style: none;
    padding: 0 0 10px 0;
    letter-spacing: 3px;
    font-size: 1.4em;
  }

  .row-1 ul li a {
    text-decoration: none;
    color: white;
  }

  .row-2 {
    position: relative;
    display: inline-block;
    margin-top: 6vh;
    margin-bottom: 3vh;
  }

  .row-2 .to-the-right {
    width: 50vw;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-bottom: 2vh;
    letter-spacing: 13px;
    padding-right: -10px;
    text-align: center;
  }

  .row-2 ul li {
    font-size: 8vw;
    text-align: center;
    color: white;
  }

  .row-2 img {
    height: 13vw;
    width: 13vw;
  }

  .row-3 {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .row-3 .form-title {
    padding-bottom: 3vh;
    letter-spacing: 13px;
    margin-right: -10px;
  }

  .row-3 .form-title li {
    font-size: 9vw;
    color: white;
  }

  .form {
    position: relative;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .form-left {
  }

  .form-right {
  }

  .input {
    text-align: center;
    outline: 0px !important;
    width: 180px;
    height: 30px;
    margin: 0 0 10px 0;
    /*padding: 2px 0 2px 12px;*/
    font-size: 14px;
    background-color: white;
    border: 1px solid grey;
    font-family: 'Cormorant Garamond', serif;
  }

  #input-message-text {
    outline: 0px !important;
    width: 80vw;
    height: 10vh;
    /*padding: 4px 0 0 12px;*/
    /*margin: 0 0 5px 0;*/
    font-size: 14px;
    border: 1px solid grey;
    resize: none;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
  }

  .button {
    margin-top: 2vh;
    font-size: 5vh;
    font-size: 8vw;
    background: #40e0d0;
    border: 2px solid white;
    transition: 0.3s;
    height: 7vh;
    min-height: 30px;
    width: 40vw;
    text-align: center;
    color: white
  }

  .form-button:hover {
    background-color: #24413e;
    color: white;
  }

  .form-button:focus {
    outline: 0;
  }

  /* ========== sub-footer ========== */
  .sub-footer {
    background-color: white;
    height: 8vh;
    position: relative;
  }

  .sub-footer-row-1 {
    text-align: center;
  }

  .sub-footer-row-1 ul li {
    color: #40E0D0;
    text-decoration: none;
    padding: 1vh 1vw 1vh 0vw;
    list-style: none;
    font-size: 2vh;
  }

  .sub-footer-row-2 {
    text-align: center;
  }

  .sub-footer-row-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 0vh 1vw 1vh 0vw;
    color: #40E0D0;
    font-size: 2vh;
  }

  .sub-footer-row-2 ul li a {
    color: #40E0D0;
    text-decoration: none;
  }
}
